/Ex01While.class
/Ex02While.class
/Ex03DoWhile.class
/Ex04While.class
/Ex05For.class
/Ex06MultiFor.class
/Ex07MultiFor.class
/Ex08ForGugu.class
/Ex09ForGugu.class
/Ex10For.class
/Ex11Random.class
/Practice01.class
