/Ex10Operator.class
/Ex11Ddi.class
/Ex12Swith.class
/Ex1DataType.class
/Ex2DataType.class
/Ex3String.class
/Ex4Scanner.class
/Ex5Scanner.class
/Ex6Operator.class
/Ex7Operator.class
/Ex8Operator.class
/Ex9Operator2.class
/Practice01.class
/Practice01_T.class
/Practice02.class
/Practice02_T.class
